body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0b0b0b;
  color: white;
}

header {
  background: #202020;
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid #ff477e;
}

header h1 {
  margin: 0;
  color: #ff477e;
}

.anime-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.anime-card {
  background: #1c1c1c;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px #111;
}

.anime-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.anime-card h2 {
  color: #ffd700;
  margin: 10px 0;
}

video {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

button, .download-btn {
  background: #ff477e;
  border: none;
  padding: 8px 12px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #202020;
  color: #ccc;
  margin-top: 40px;
}
